html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.07rem;
  color: #333333;
}
.nav-back {
    padding-top: 47px;
    background: #f1f1f1;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #283D3A;
  word-wrap: break-word;
}

button:focus {
    outline: none;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  text-transform: uppercase;
  font-size: .86rem;
  background: rgba(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0 1rem!important;
}

.navbar-brand img {
  height: 2.3rem;
  padding: 3px; /* check */
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-nav a {
  color: #000;
  letter-spacing: .07rem;
}

.navbar-nav a:hover {
  color: #305d73cf;
}

.hero {
  background: linear-gradient(90deg, rgb(50, 100, 115) 100%, rgb(50, 100, 115) 100%);
  padding: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.caption { 
  color: #fff; 
  padding: 0 1rem; 
  text-align:left; 
  max-width: 1170px; 
  margin: 0 auto;
}

.caption h1 {
  color: #fff;
  word-wrap: break-word;
  font-size: 2.1rem;
  letter-spacing: .03rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.caption p {
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: .01rem;
  margin-bottom: 1rem;
}

.hero-btn {
    border: 2px solid #a5b9bf;
    font-size: .9rem;
    letter-spacing: .05rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    border-radius: 1px;
    transition: border .1s ease;
    text-decoration: none;
    display: inline-block;
}
.hero-btn:hover {
  color: #fff;
  text-decoration: none;
  border: 2px solid #ffffff00;
}

.home-spread {
  max-width: 670px;
  margin: 7rem auto;
  padding: 0 1rem;
}

.home-spread h2 {
  font-size: 1.7rem
}

.home-spread a {
font-weight: 500;
color: #416e84;
}

.home-spread h3 {
  font-size: 1.3rem
}

.home-spread-body {
  padding: 1.5rem 0;
}

.home-spread-body p {
  text-align: justify;
}

.home-spread-body a {
  color: #416e84;
  font-weight: 500;
}

.home-spread-btn {
    border: 2px solid #326473;
    background: none!important;
    display: inline-block;
    font-size: .9rem;
    letter-spacing: .05rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 25px;
    border-radius: 1px;
    transition: border .11s ease;
    cursor: pointer;
}

.home-spread-btn:hover {
    text-decoration: none;
    border: 2px solid #ffffff00;
}

.spread {
  background: linear-gradient(90deg, rgb(116, 145, 158) 49%, rgb(95, 129, 146) 100%);
  padding: 3rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.spread-caption {
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}
.spread-caption h1 {
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
  font-size: 2.1rem;
  letter-spacing: .03rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.spread-caption p {
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .01rem;
  margin-bottom: 1rem;
}

.newsletter {
  font-size: .9rem!important;
  color: #fff;
  font-weight: 400!important;
  padding: .1rem 0!important;
}

.contents-spread {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.introduction {
  max-width: 700px;
  margin: 5rem auto;
}

.introduction h2 {
  text-align: center;
  margin-bottom: 1.3rem;
}

.introduction p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.list::before {
  padding: 0 1rem 0 0;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: .9rem;
  content: "\f054";
}

.features {
  margin: 5rem 0;
}
.features img {
  width: 40%;
}

.features h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.features p {
  font-size: 1rem;
}
.get-lead {
  max-width: 700px;
  margin: 5rem auto;
  padding: 5rem 3rem;
  background-color:#678797cc;
}

.get-lead h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.all-spreads {
  margin: 5rem 0;
}
.all-spreads h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
.all-spreads p {
  font-size: 1.1rem;
}

.spreads-list {
  max-width: 900px; margin: 5rem auto;
}
.spread-container {
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.17)!important;
  height: 100%;
  width: 77%;
  z-index: 1;
  margin: 0 auto;
}
.spread-enlace {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.spread-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.full {
  margin-left: 0px!important;
  margin-right: 0px!important;
  padding: 0 15px;
}

.link-more {
    font-size: .9rem;
    letter-spacing: .05rem;
    color: #3c5a5f;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 1px;
    text-decoration: none;
    display: inline-block;
}

.link-more:after {
display: inline-block;
font-family: "Font Awesome 5 Free", sans-serif;
content: '\f054';
margin-left: .7rem;
transition: margin-left .11s;
}

.link-more:hover {
  color: #5E3E30;
  text-decoration: none;

}
.pagination-spreads {
  margin: 5rem 0;
}
.page-item.active .page-link {
  background-color: #424e50;
}
.page-item.disabled .page-link {
  color: #6c757dad;
}
.page-link {
  color: #414c4d;
  border:none!important;
}
.page-link:hover {
  color: #414c4d;
}
@media (min-width: 768px) { 
  .navbar-brand {padding-left: 60px;}
  .navbar-nav {padding-right: 60px;}
}

@media (max-width: 767px) { 
.hero { padding: 5rem 1rem; }
.home-spread img { padding-bottom: 1.3rem; }
.hero-btn { margin-bottom: 1.3rem; }
.home-spread-body img { width: 70%; }
.spread-caption img { max-width: 50%; padding-bottom: 1.7rem;}
.get-lead {padding: 5rem 1rem; margin: 0; }
.spread-container { width: 50%;}
.snippet { padding: 1.7rem 0rem 0; }
.features img { width: 25%; }
}

@media (max-width: 576px) { 
.hero {padding: 3.7rem 0;}
.home-spread-body img { width: 90%; }
.spread-caption img { max-width: 70%;}
.spread-container { width: 70%;}
}

#upBotton {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #2e8c9866; 
  color: white; 
  cursor: pointer; 
  padding: 3px 10px; 
  border-radius: 1px; 
  font-size: 1rem; 
}

#upBottom:hover {
  background-color: rgba(66, 78, 80); 
}

footer {
  color: #000;
  background: #fff;
  padding: 1rem;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #010101;
  text-decoration: none;
}

footer h6 {
  text-transform: uppercase;
  padding-top: 1.4rem;
}

footer p {
  font-size: 0.81rem;
  margin: .7rem;
}


footer i {
  color: #fff;
}
