html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.07rem;
  color: #333333;
}
.nav-back {
    padding-top: 46px;
    background: #f1f1f1;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  word-wrap: break-word;
}

button:focus {
    outline: none;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  text-transform: uppercase;
  font-size: .86rem;
  background: rgba(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0 1rem!important;
}

.navbar-brand img {
  height: 2.3rem;
  padding: 3px; /* check */
}

.navbar-nav li{
  padding-right: .9rem;
}

.navbar-nav a {
  color: #000;
  letter-spacing: .07rem;
}

.navbar-nav a:hover {
  color: #305d73cf;
}

.hero {
  background: #00BCFF;
  padding: 5rem 1rem;
  
}

.caption { 
  text-align:left; 
  max-width: 1170px; 
  margin: 0 auto;
}

.caption h1 {
  color: #000;
  word-wrap: break-word;
  font-size: 2.6rem;
  letter-spacing: .03rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.caption p {
  color:#000;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: .01rem;
  margin-bottom: 2rem;
}
.caption img {
  max-width: 70%;
}
.hero-btn {
    border: 2px solid #000;
    background: #000;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    border-radius: 1px;
    transition: border, background .1s ease;
    text-decoration: none;
    display: inline-block;
}
.hero-btn:hover {
  color: #fff;
  text-decoration: none;
  border: 2px solid #222;
  background: #222;
}

.home-spread {
  max-width: 700px;
  margin: 7rem auto;
  padding: 0 1rem;
}

.home-spread h2 {
  font-size: 1.7rem;
}


.home-spread h3 {
  font-size: 1.3rem;
}

.home-spread-body {
  padding: 1.5rem 0;
}

.home-spread-body p {
  text-align: justify;
}

.home-spread a {
  color: #222;
  font-weight: 600;
}

.home-spread-btn {
    border: 2px solid #000;
    background: #000;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .05rem;
    font-family: 'Poppins', sans-serif;
    color: #fff!important;
    font-weight: 500;
    text-transform: uppercase;
    padding: 9px 25px;
    border-radius: 1px;
    transition: border, background .11s ease;
    cursor: pointer;
}

.home-spread-btn:hover {
    text-decoration: none;
    color: #fff;
    border: 2px solid #222;
    background: #222;
}
.spread {
  background: #24cbe8;
  padding: 5rem 1rem;
}
.spread-caption h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  color:#222;
font-weight: 600;
}
.spread-caption {

  max-width: 1300px;
  margin: 0 auto;
}
.spread-caption h2 {
  color: #222;
  font-size: 2.3rem;
  letter-spacing: .03rem;
  margin-bottom: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
}

.spread-caption p {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: .01rem;
  margin-bottom: 2.3rem;
}
.spread-caption img {
  max-width: 100%;
}
.newsletter {
  padding: .1rem 0!important;
}
.newsletter p {
  font-size: .7rem!important;
  color: #000;
  text-align: left!important;
  font-weight: 400!important;
}


.introduction {
  max-width: 700px;
  margin: 5rem auto;
  padding: 0 1rem;
}

.introduction h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.introduction p {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5;
}
.features {
  background: #f1f1f1;
  padding: 5rem 1rem;
}
.features-width {
  max-width: 790px;
  margin: auto;
}
.features h3{
  font-size: 1.6rem;
}
.features p {
  font-size: 1.1rem;
}
.features svg {
margin-bottom: 1.3rem;
  font-size: 2.5rem;
}


.process {
  margin: 5rem 1rem;
}
.process-width {
  max-width: 600px;
  margin: auto;
}
.process h3 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.process p::before {
  padding: 0 .5rem 0 0;
  font-family: "Font Awesome 5 Free", s_ans-serif;
  font-weight: 900;
  font-size: .7rem;
  content: "\f054";
}
.process p {
  font-size: 1.1rem;
}
.get-lead {
  background-color: #2e8c9866;
  padding: 3rem 1rem;
  text-align: center;
  
}
.get-lead-width {
  max-width:500px;
  margin: 0 auto;
}

.tarot-reading-intro {
  background: #2e8c9866;
  padding: 3rem 1rem;
}

.tarot-reading-intro h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.tarot-reading-intro p {
  font-size: 1.2rem;
}
@media (max-width: 770px) {
.spread-caption h2 {text-align:;}
.spread-caption p {text-align: ;}
.spread-caption img { max-width: 70%; margin-bottom: 3rem;}
.snippet { padding: 1.7rem 0rem 0; }
.item {padding:1.5rem 1rem;}
.features img { width: 25%; }
}

@media (max-width: 576px) { 
.home-spread-body img { width: 90%; }
.spread-caption img { max-width: 90%;}
.spread-container { width: 70%;}
}

#upBotton {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #2e8c9866; 
  color: white; 
  cursor: pointer; 
  padding: 3px 10px; 
  border-radius: 1px; 
  font-size: 1rem; 
}

#upBottom:hover {
  background-color: rgba(66, 78, 80); 
}

footer {
  color: #000;
  background: #fff;
  padding: 1rem;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #010101;
  text-decoration: none;
}

footer h6 {
  text-transform: uppercase;
  padding-top: 1.4rem;
}

footer p {
  font-size: 0.81rem;
  margin: .7rem;
}


footer i {
  color: #fff;
}